.moonRabbitPlanet {
  height: 200px;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
}

.square {
  height: 1px;
  width: 1px;
  position: absolute;
  top: 10;
  left: 10;
  transform-origin: 50% 50%;
  transform: matrix(.5,0,0,.5,0,0);
}
