.moonRabbitPlanet {
  height: 20vw;
  width: 20vw;
  position: relative;

  &__square {
    position: absolute;
    transform: translate(-50%, -50%);
    &--main {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
