// also is in the g file in the styles folder
$squareUnit: 1.1vw;

@mixin dimensions ($height, $width) {
  height: calc(#{$height} * #{$squareUnit});
  width: calc(#{$width} * #{$squareUnit});
}

@mixin gridContainer ($height, $width) {
  height: calc(#{$height} * #{$squareUnit});
  width: calc(#{$width} * #{$squareUnit});
  display: grid;
  grid-template: repeat($height, 1fr) / repeat($width, 1fr);
}



