.square {

  @for $i from 1 through 10 {
    &--size#{$i} { 
      grid-column-end: span $i; 
      grid-row-end: span $i;}
    }

  @for $i from 1 through 30 {
     &--columnStart#{$i} { grid-column-start: $i; }
    }
    
  @for $i from 1 through 30 {
    &--rowStart#{$i} { grid-row-start: $i; }
    }

}



