.boldUppercase {
  text-transform: uppercase;
  font-weight: 700;
}

@mixin title {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 62px;
}

@mixin menuLink {
  @extend .boldUppercase;
  font-size: 22px;
  letter-spacing: 4px;
}

@mixin menuSetting {
  @extend .boldUppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

@mixin text {
  font-size: 14px;
  letter-spacing: 0.75px;
}

@mixin component {
  @extend .boldUppercase;
  font-size: 14px;
  letter-spacing: 4px;
}

@mixin menuSettingsTitle {
  font-size: 10px;
}

@mixin infosKanji {
  font-size: 12px;
  letter-spacing: 0.75px;
}

@mixin componentSmall {
  font-size: 10px;
  letter-spacing: 6px;
  font-weight: 700;
}
@mixin titleSmall {
  @include componentSmall;
  text-transform: uppercase;
}

@mixin infosKanjiBottom {
  @extend .boldUppercase;
  font-size: 9px;
  letter-spacing: 4px;
}
