@mixin component {
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin componentSmall {
  font-size: 10px;
  letter-spacing: 6px;
  font-weight: 700;
}

@mixin title {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
}
@mixin titleSmall {
  @include componentSmall;
  text-transform: uppercase;
}

@mixin text {
  font-size: 14px;
  letter-spacing: 0.75px;
}

@mixin infosKanji {
  font-size: 12px;
  letter-spacing: 0.75px;
}

@mixin infosKanjiBottom {
  font-size: 9px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
}
