@use 'menu';
@use 'src/styles/g';

.menu {
  background-color: white;
  height: menu.$sizeContainer;
  width: menu.$sizeContainer;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  &__icon {
    height: menu.$sizeIcon;
    width: menu.$sizeIcon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top, &__bottom, &__middle {
      height: g.$strokeWidth;
      background-color: #0C2C41;
    }
      &__top, &__bottom {
        width: menu.$sizeIcon;
      }
      &__middle {
        width: 24px;
      }

  }
}
