@use 'menu';
@use 'src/styles/typo';
@use 'src/styles/g';
@use 'src/styles/z';

.menu {
  z-index: z.$menu;
  position: fixed;
  
  &__content {
    height: 100vh;
    position: fixed;
    top: 0;
    left: calc(#{g.$contentMenuWidth} * - 1);
    width: g.$contentMenuWidth;
    display: flex;
    flex-direction: column;
    background-color: white;
    &__links {
      @include typo.menuLink;
      // takes maximum height available
      flex-grow : 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
    &__settings {
      &__title {
        @include typo.menuSetting;
        margin-left: 24px;
        margin-bottom: 12px;
      } 
    }
  }
}
